fastapi
uvicorn
sqlalchemy
psycopg2
bcrypt
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
python-dotenv     # لتحميل متغيرات البيئة من ملف .env
alembic           # في حال استخدمتم ترحيلات قاعدة البيانات (migrations)
